<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Control</title>
</head>
<body>

    <button type="button" id="red-btn">RED</button>
    <button type="button" id="green-btn">GREEN</button>
    <button type="button" id="blue-btn">BLUE</button>
    <button type="button" id="off-btn">OFF</button>
    <script>
        const btnR = document.querySelector("#red-btn");
        btnR.addEventListener("click", async e => {
            await fetch("leds/red/");
        })
        const btnG = document.querySelector("#green-btn");
        btnG.addEventListener("click", async e => {
            await fetch("leds/green/");
        })
        const btnB = document.querySelector("#blue-btn");
        btnB.addEventListener("click", async e => {
            await fetch("leds/blue/");
        })
        const btnOff = document.querySelector("#off-btn");
        btnOff.addEventListener("click", async e => {
            await fetch("leds/off/");
        })
    </script>
</body>
</html>